@use "../../assets/sass/variables.scss" as *;

.Resume-header {
  text-align: center;
  font-family: $font-secondary;
  color: $color-primary;
}

  .paragraph2 {
    background: linear-gradient(90deg, rgb(243, 169, 126) 0%, rgb(235, 184, 126) 24%, rgb(243, 140, 93) 100%);
    width: 70%;
    margin: 20px auto;

    text-align: center;
    font-family: $font-primary;
    padding: 20px;
    color: $color-white;
    font-family: $font-primary;
    font-style: oblique;
  }
