@use "../../assets/sass/variables" as *;

.heading-container{
  display: flex;
  justify-content: center;
.welcome-heading {
  font-family: $font-primary;
  color: $color-primary;
  text-decoration:solid;
}

.header-description {
  font-family: $font-primary;
  font-weight: 100;
  color: $color-primary;
  text-decoration: underline;
}
.heading-last {
  font-family: $font-secondary;
  color: $color-primary;
}

.picOfMe {
  height: 400px;
  margin-right: auto;
  margin-top: 50px;
  border: solid 3px $color-primary;
  
}

.headings {
  width: 40%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
}

@media only screen and (max-width: 550px) {
  .heading-container{
    display: flex;
    flex-direction: column-reverse;
    
    .picOfMe {
      margin-left: auto;
      
    }
  }
}