

.heading-container{
  display: flex;
  justify-content: center;
.picOfMe {
  height: 400px;
  margin-right: auto;
  margin-top: 30px;
  
}

.headings {
  width: 40%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
}