@use "../../assets/sass/_variables.scss"as *;

* {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.nav {
  background: linear-gradient(90deg, rgb(243, 169, 126) 0%, rgb(235, 184, 126) 24%, rgb(243, 140, 93) 100%);
  height: 90px;
  display: flex;
 gap: 20px;
  

  .my-name {
    margin: auto;
    font-family: $font-secondary;
    font-weight: 100;
    color:$color-primary;
    
  }

  .sections-list {
    margin: auto;
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: $color-primary;

    
    

    li {
      cursor: pointer;
      font-family: $font-secondary;
    }
  }
}

@media only screen and (max-width: 550px) {
  .my-name {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
}