@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');


$color-primary:#3b4652;
$color-secondary:rgba(230, 148, 142, 0.986);
$color-gray: rgb(137, 139, 163);
$color-white: rgba(230, 224, 224, 0.897);
$font-primary: 'Source Sans 3';
$font-secondary: "Bebas Neue";